#### 단축키
1. Ctrl 
- Ctrl + Enter : 실행
- Ctrl + B : 목록창 띄우기
- Ctrl + N : 새 파일 열기
---
2. 비활성화
- 비활성화 상태 + M : 마크다운 전환
- 비활성화 상태 + B : 새 코드줄 추가
- 비활성화 상태 + L : 코드 줄 숫자로 표시 
- 비활성화 상태 + DD : 줄 삭제
- 비활성화 상태 + Enter : 깜박이 들어오기

###### pandas 주요 메소드 및 라이브러리 사용방법

In [8]:
# 버전 확인
import pandas as pd
import numpy as np
import openpyxl
print(pd.__version__)
print(np.__version__)
print(openpyxl.__version__)

2.1.0
1.25.2
3.0.4

In [ ]:
''' version upgrade 방법
python.exe pip install --upgrade pip
pip install --upgrade openpyxl
pip install --upgrade pandas
'''

In [1]:
# pandas 호출방법
import pandas as pd
import numpy as np

# 아래의 라인을 추가하여 np.float을 float으로 변경
np.float = float
# 간단한 파일 읽어오기 : excel 또는 csv 읽어오는 방법
df = pd.read_excel("2024년_2월_부산_아파트_실거래가.xlsx",engine='openpyxl')
df = pd.read_csv("2024년_2월_부산_아파트_실거래가.csv",encoding='cp949')
df.describe()

,NO,본번,부번,전용면적(㎡),계약년월,계약일,층,건축년도
count,1598.00000,1598.000000,1598.000000,1598.000000,1598.0,1598.000000,1598.000000,1598.000000
mean,799.50000,1042.168961,8.835419,73.418615,202402.0,13.471840,11.614518,2006.931164
std,461.44718,775.844726,67.875534,24.696945,0.0,8.820418,8.008861,11.451688
min,1.00000,1.000000,0.000000,16.650300,202402.0,1.000000,1.000000,1962.000000
25%,400.25000,468.250000,0.000000,59.760000,202402.0,5.000000,5.000000,1997.000000
50%,799.50000,888.000000,0.000000,73.620000,202402.0,14.000000,10.000000,2007.000000
75%,1198.75000,1387.000000,1.000000,84.959300,202402.0,21.000000,16.000000,2018.000000
max,1598.00000,3599.000000,1460.000000,241.970000,202402.0,29.000000,65.000000,2023.000000

#### 간단한 함수 및 메소드 모음
<!-- s는 시리즈, df는 데이터프레임 -->
> 1. type(df) : Series인지 DataFrame 인지 여부확인
> 2. df.head(n) : 위에서 n번째 행까지
> 3. df.tail(n) : 밑에서 n번째 행까지
> 4. df.info(memory_usage='deep') : df의 각 column의 이름, 갯수, 타입과 메모리양을 숫자로 표시해줌
> 5. df.shape : df의 행과 열의 수 확인
> 6. df.index : df의 index 구성요소 확인 (메소드가 아님)
> - (ex) RangeIndex(start=0,stop=1000,step=1)
> 7. df.columns : df의 column 구성 요소 확인
> - (ex) Index(['title','category','subscriber','view','video'])
> - df.colums.values 또는 df.index.values : np.array형태로 값 출력
> 8. s.index : s의 행 인덱스 모음
> 9. s.values : s의 데이터 모음
> 10. df.dtypes : 각 열의 타입을 확인
> 11. df.describe(): 각 열별 통계량 보여줌

In [4]:
# [1-1].csv 파일을 DataFrame으로 읽어 temp라는 이름을 붙입니다
temp = pd.read_csv("2024년_2월_부산_아파트_실거래가.csv",encoding='cp949')
type(temp) # type이 DataFrame인것 확인됨

pandas.core.frame.DataFrame

In [6]:
# [1-2] 읽어온 df 의 내용 중 첫 5개 행 / 마지막 5개 행을 출력해 내용을 확인합니다
temp.head(5)
temp.tail(5)

,NO,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),동,층,매수자,매도자,건축년도,도로명,해제사유발생일,거래유형,중개사소재지,등기일자
1593,1594,부산광역시 사상구 엄궁동,683-3,683,3,엄궁2차한신,59.9950,202402,14,"14,000",-,2,개인,개인,1999,엄궁로 40,-,중개거래,부산 사상구,-
1594,1595,부산광역시 사상구 엄궁동,726,726,0,롯데캐슬,59.9934,202402,17,"28,500",-,9,개인,개인,2010,엄궁북로 62,-,중개거래,부산 사상구,-
1595,1596,부산광역시 사상구 엄궁동,726,726,0,롯데캐슬,101.1107,202402,17,"42,000",-,21,개인,개인,2010,엄궁북로 62,-,중개거래,부산 사상구,-
1596,1597,부산광역시 사상구 엄궁동,726,726,0,롯데캐슬,84.9932,202402,13,"35,500",-,10,개인,개인,2010,엄궁북로 62,-,직거래,-,-
1597,1598,부산광역시 사상구 엄궁동,726,726,0,롯데캐슬,84.9677,202402,6,"35,700",-,9,개인,개인,2010,엄궁북로 62,-,중개거래,부산 강서구,-

In [9]:
# [1-3] df의 row의 개수 및 각 column의 정보 및 메모리 사용량을 확인합니다.
temp.info(memory_usage='deep') # Dtype이 object인건 문자열이다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1598 entries, 0 to 1597
Data columns (total 20 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NO        1598 non-null   int64
 1   시군구       1598 non-null   object
 2   번지        1598 non-null   object
 3   본번        1598 non-null   int64
 4   부번        1598 non-null   int64
 5   단지명       1598 non-null   object
 6   전용면적(㎡)   1598 non-null   float64
 7   계약년월      1598 non-null   int64
 8   계약일       1598 non-null   int64
 9   거래금액(만원)  1598 non-null   object
 10  동         1598 non-null   object
 11  층         1598 non-null   int64
 12  매수자       1598 non-null   object
 13  매도자       1598 non-null   object
 14  건축년도      1598 non-null   int64
 15  도로명       1598 non-null   object
 16  해제사유발생일   1598 non-null   object
 17  거래유형      1598 non-null   object
 18  중개사소재지    1598 non-null   object
 19  등기일자      1598 non-null   object
dtypes: float64(1), int64(7), object(12)
memory usage: 1.5 MB

In [8]:
# [1-4] temp의 행, 열의 수를 확인합니다. (shape 사용)
temp.shape

(1598, 20)

In [12]:
# [1-5] temp의 행과 컬럼 확인합니다.
temp.index
temp.columns

Index(['NO', '시군구', '번지', '본번', '부번', '단지명', '전용면적(㎡)', '계약년월', '계약일',
       '거래금액(만원)', '동', '층', '매수자', '매도자', '건축년도', '도로명', '해제사유발생일', '거래유형',
       '중개사소재지', '등기일자'],
      dtype='object')

In [13]:
# [1-6] temp의 필드의 데이터 타입을 확인합니다.
temp.dtypes

NO            int64
시군구          object
번지           object
본번            int64
부번            int64
단지명          object
전용면적(㎡)     float64
계약년월          int64
계약일           int64
거래금액(만원)     object
동            object
층             int64
매수자          object
매도자          object
건축년도          int64
도로명          object
해제사유발생일      object
거래유형         object
중개사소재지       object
등기일자         object
dtype: object

In [14]:
# [1-7] temp의 필드의 데이터 통계량을 요약합니다.
temp.describe()

,NO,본번,부번,전용면적(㎡),계약년월,계약일,층,건축년도
count,1598.00000,1598.000000,1598.000000,1598.000000,1598.0,1598.000000,1598.000000,1598.000000
mean,799.50000,1042.168961,8.835419,73.418615,202402.0,13.471840,11.614518,2006.931164
std,461.44718,775.844726,67.875534,24.696945,0.0,8.820418,8.008861,11.451688
min,1.00000,1.000000,0.000000,16.650300,202402.0,1.000000,1.000000,1962.000000
25%,400.25000,468.250000,0.000000,59.760000,202402.0,5.000000,5.000000,1997.000000
50%,799.50000,888.000000,0.000000,73.620000,202402.0,14.000000,10.000000,2007.000000
75%,1198.75000,1387.000000,1.000000,84.959300,202402.0,21.000000,16.000000,2018.000000
max,1598.00000,3599.000000,1460.000000,241.970000,202402.0,29.000000,65.000000,2023.000000

### loc, iloc 사용하기
1. df.iloc[행,열] : 행과 열에 순서(`번호`)를 기준으로 데이터들을 조회(슬라이싱 가능)
2. df.loc[행,열] : 행과 열의 이름(`문자`)를 기준으로 데이터 조회(슬라이싱 가능)
- 중요한 것은 조건을 넣을 수도 있으며, &와 | 둘다 가능

In [26]:
# 20번째 행, 12번째부터 17번째 열까지
temp.iloc[:20,12:17]

   매수자 매도자  건축년도           도로명 해제사유발생일
0   개인  개인  1995   차성로344번길 13       -
1   개인  개인  2003   차성로322번길 39       -
2   개인  개인  2011       차성로 461       -
3   개인  개인  1995    차성로441번길 7       -
4   개인  개인  2002  차성동로178번길 22       -
5   개인  개인  2001      차성서로 123       -
6   개인  개인  2014   차성동로45번길 31       -
7   개인  개인  2001   차성로216번길 26       -
8   개인  개인  1993      기장대로 563       -
9   개인  개인  2003        청강로 76       -
10  개인  개인  2022        대변로 43       -
11  개인  개인  2017     기장대로 82-8       -
12  개인  개인  2015        방곡로 29       -
13  개인  개인  2015        방곡로 29       -
14  개인  개인  2015        방곡로 29       -
15  개인  개인  2014        방곡로 39       -
16  개인  개인  2014        방곡로 39       -
17  개인  개인  2014        방곡로 39       -
18  개인  개인  2014        방곡로 39       -
19  개인  개인  2014        방곡로 39       -

In [28]:
# 매수자가 법인이며, 거래금액부터 도로명 열까지 출력
temp.loc[(temp.매수자=='법인'),'거래금액(만원)':'도로명']

     거래금액(만원)  동   층 매수자 매도자  건축년도           도로명
452    79,000  -  12  법인  개인  2007        동래로 53
742    19,400  -   3  법인  개인  1992   덕천로234번길 34
743    19,400  -   3  법인  개인  1992   덕천로234번길 34
775    10,050  -   6  법인  개인  1991        덕천로 72
824    12,000  -   1  법인  개인  1991  재반로282번길 112
...       ... ..  ..  ..  ..   ...           ...
1402   15,798  -  18  법인  법인  2021         봉수로 2
1403   15,798  -  18  법인  법인  2021         봉수로 2
1404   15,798  -  18  법인  법인  2021         봉수로 2
1551   11,200  -   8  법인  개인  2016    광장로86번길 12
1572   15,000  -   2  법인  개인  2002  백양대로494번길 38

[85 rows x 7 columns]

In [ ]:
# astype, value_counts, sort_values 활용필요