### Pandas 정복 
#### 1. Series와 DataFrame
> Series는 인덱싱된 데이터의1차원 배열
    - values와 index로 이루어짐

In [18]:
import pandas as pd
data = pd.Series([10,20,30,40],index = ['a','b','c','d'])
data

a    10
b    20
c    30
d    40
dtype: int64

In [2]:
data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [3]:
data.values

array([10, 20, 30, 40], dtype=int64)

#### 자주 사용하는 Series Method
- append : 두 시리즈 연결
- describe : 요약 통계량 계산
- isin : 시리즈에 포함된 값이 있는지 확인
- max, min, mean, median : 통계량
- replace : 특정 값을 가진 시리즈 값 교체
> key-value 형태로 여러개 입력 가능
- str.replace : 일부만 일치하더라도 변경
- sort_value : 값 정렬
- to_frame : Series -> DataFrame

In [9]:
# 슬라이싱
data['a':'c'] # 명시적 인덱스
data[0:2] # 묵시적 인덱스

    0
a  10
b  20

In [5]:
data.describe()

count     4.000000
mean     25.000000
std      12.909944
min      10.000000
25%      17.500000
50%      25.000000
75%      32.500000
max      40.000000
dtype: float64

In [19]:
# concat : 두 데이터 프레임(혹은 시리즈 병합)
data1 = pd.Series([10,20,30,40],index = ['e','f','g','h'])
data = pd.concat([data,data1],join='outer')
print(data)

a    10
b    20
c    30
d    40
e    10
f    20
g    30
h    40
dtype: int64

In [27]:
import pandas as pd

data = pd.Series([10,20,30,40], index=['a','b','c','d'])
data1 = pd.Series([10,20,30,40], index=['a','b','c','d'])
merged_data = pd.concat([data1,data])
print(merged_data)

a    10
b    20
c    30
d    40
a    10
b    20
c    30
d    40
dtype: int64